---
layout: all
---

{{ content }}

<div class="footer">
  <div class="contact">
    <p>
      Psychard<br />
      <a href="http://www.psycheloui.com/">Psyche</a> and <a href="http://www.richardhenrywest.com/">Richard</a><br />
      both@psychard.com
    </p>
  </div>
  <div class="contact psyche">
    <ul>
      <li><a href="http://www.psycheloui.com/">www.psycheloui.com</a></li>
      <li><a href="http://blog.psycheloui.com/">blog.psycheloui.com</a></li>
      <li><a href="http://twitter.com/razorpsyche/">twitter.com/razorpsyche</a></li>
    </ul>
  </div>
  <div class="contact richard">
    <ul>
      <li><a href="http://www.richardhenrywest.com/">www.richardhenrywest.com</a></li>
      <li><a href="http://twitter.com/richardhwest/">twitter.com/richardhwest</a></li>
      <li><a href="http://github.com/rwest/">github.com/rwest</a></li>
    </ul>
  </div>
</div>
